body {
  position: relative;
  margin: 0; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.container {
  max-width: 1114px;
  margin: auto; }

.checkbox {
  visibility: hidden; }

.easybank_header {
  margin-top: -2rem;
  padding: 1rem 0; }

.easybank_header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

.easybank_header__title {
  margin: 0; }

.easybank_header__title-logo {
  color: #000;
  text-transform: lowercase; }

.easybank_header__nav {
  position: absolute;
  width: 80%;
  height: 292px;
  padding: 1rem;
  top: 104px;
  left: 5%;
  margin: auto;
  text-align: center;
  background: #fff;
  box-shadow: -2px 4px 5px -4px #000000;
  border-radius: 8px;
  transform: translateX(-130%);
  transition: transform .2s; }

.easybank_header__nav-ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem; }

.easybank_header__nav-ul--li_anchor {
  color: #000; }

.easybank_header__menu {
  background-image: url("../svg/menu.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 29px 43px;
  color: transparent;
  cursor: pointer; }

input[type="checkbox"]:checked ~ .easybank_header .easybank_header__nav {
  transform: translateX(0%);
  z-index: 2; }

body ~ input[type="checkbox"]:checked {
  z-index: 1;
  background: rgba(0, 0, 0, 0.4); }

input[type="checkbox"]:checked ~ .easybank_header .easybank_header__container .easybank_header__menu {
  background-image: url("../svg/close.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 29px 43px;
  cursor: pointer; }

.banking {
  background-image: url("../images/bg-intro-mobile.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 4% -14%;
  background-size: 100%; }

.banking_container {
  padding: 1rem;
  text-align: center; }

.banking_content__heading {
  font-size: 45px; }

.banking_content__desc {
  opacity: 0.5; }

.banking_request-btn {
  background: #31d35c;
  padding: 1rem 2rem;
  border: none;
  border-radius: 45px;
  color: #fff;
  margin-top: 1rem; }
