@import 'font_faces';

body {
    position: relative;
    margin: 0;
    font-family: 'Public Sans';
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1114px;
    margin: auto;
}

.checkbox {
    visibility: hidden; 
}

button {
    cursor: pointer;
}